.footer-bottom {
  width: 100%;
  padding: 15rem 0;
  position: absolute;
  background-color: var(--theme-color2);
  bottom: 1;
  left: 0;
  box-shadow: inset -7px 1px 20px 12px #ff926f;
}

.createdby {
  color: var(--snow);
  padding: 15rem 0 10rem;
  font-size: 15rem;
  text-align: center;
}

.logo2 img {
  width: 250rem;
  padding: 15rem;
}

.icones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icones a, .icones img{
  width: 50rem;
  padding: 0 10rem;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 300rem;
  width: 100%;
}

@media (max-width: 900px) { 
  .logo2 img {
    width: 200rem;
  }
  .icones a, .icones img{
    width: 40rem;
  }
}
