.header-top {
  font-size: 20rem;
  width: 100%;
  top: 0;
  background: var(--white);
  box-sizing: border-box;
  padding: 25rem 0;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  max-height: 40rem;
  width: 100%;
}

.logo img {
  width: 400rem;
}

.nav-response {
  cursor: pointer;
  color: var(--btn-bg);
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin: auto 12rem;
  font-weight: 600;
  color: var(--theme-color7);
}

.menu li:hover {
  transition: 500ms ease;
  color: var(--theme-color3)
}

@media (max-width: 1000px) and (min-width: 600px) {
  .logo img {
    width: 45vw;
  }

  .menu {
    visibility: hidden;
    top: 0;
    margin-top: 50rem;
    padding: 50rem;
    height: 50vh;
    background-color: var(--snow);
    flex-direction: column;
  }

  .nav-response {
    display: block;
    position: relative;
    right: 30rem;
    z-index: 999
  }

  .active {
    visibility: visible;
    z-index: 999;
  }
}

@media (max-width: 600px) { 
  .logo {
    align-self: center;
  }

  .logo img {
    width: 60vw;
  }

  .menu {
    display: none;
    visibility: hidden;
  }
} 


