.header-top {
  font-size: 20rem;
  width: 100%;
  top: 0;
  padding: 25rem;
  background: var(--white);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  max-height: 40rem;
}

.logo img {
  width: 400rem;
}

.nav-response {
  cursor: pointer;
  color: var(--btn-bg);
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin: auto 12rem;
  font-weight: 600;
  color: var(--theme-color7);
}

.menu li:hover {
  transition: 500ms ease;
  color: var(--theme-color3)
}

@media (max-width: 1000px) { 
  .logo img {
    width: 45vw;
  }

  .menu {
    visibility: hidden;
    top: 0;
    margin: 50rem 0;
    padding: 50rem;
    height: 50vh;
    background-color: var(--snow);

    flex-direction: column;
  }

  .nav-response {
    display: block;
    /* position: absolute; */
    right: 30rem;
    z-index: 999
  }

  .active {
    visibility: visible;
    z-index: 999;
  }
}

@media (min-width: 500px) { 
  .logo img {
    width: 50vw;
  }

  .menu {
    top: 0;
    margin: 50rem 0;
    background-color: var(--snow);
    flex-direction: column;
    visibility: hidden;
    padding: 0 20rem;
    height: 30vh;
    font-size: 14rem;
  }

  .nav-response {
    display: block;
    /* position: absolute; */
    right: 30rem;
    z-index: 999
  }

  .active {
    visibility: visible;
    z-index: 999;
  }
}


