.presentation {
  display: flex;
  box-sizing: border-box;
  font-size: 22rem;
  color: var(--snow);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 400rem;
  text-align: center;
  padding: 0 20rem;
  background: linear-gradient(to top, #ff5f6d, #ffc371);
}

.ityped-cursor {
  opacity: 1;
  color: var(--snow);
}

/* ABOUT ME */
.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 5rem;
  background-color: var(--snow);
  border-radius: 20rem;
  box-shadow: 2rem 2rem 10rem rgb(83 76 76 / 21%);
  margin: -10% auto 70rem auto;
}

.about-me-article {
  color: var(--theme-color3);
  text-align: justify;
  padding: 10rem 30rem 40rem;
}

.about-me-article h1 {
  color: var(--theme-color3);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18rem;
  padding: 20rem;
}

.about-me-article .paragraph {
  line-height: 1.5;
  text-indent: 20rem;
  font-size: 16rem;
  word-spacing: 2px;
}

.about-me-image img {
  width: 400rem;
  height: 400rem;
  padding: 5rem;
}

@media (min-width: 500px) {
  .presentation {
    font-size: 30rem;
  }
  .about-me-article h1 {
    font-size: 20rem;
  }
  .about-me-article .paragraph {
    font-size: 18rem;
  }
}

@media (max-width: 900px) {
  .about-me-container {
    flex-direction: column;
    align-items: center;
  }
  .about-me-image {
    display: flex;
    justify-content: center;
  }
  .about-me-image img {
    width: 85%;
    height: 85%;
  }
}
