.stacks-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--section-bg1);
  height: 200rem;
  margin-bottom: 20rem;
  padding: 35rem 0;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 20px 0.5px var(--theme-color1);
}

.stacks-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 15rem;
}

.stacks-icons img {
  padding: 7rem;
  width: 70rem;
  height: 70rem;
}

@media (min-width: 900px) {
  .stacks-icons img {
    width: 85rem;
    height: 85rem;
  }  
}
