.presentation {
  display: flex;
  font-size: 30rem;
  color: var(--theme-color);
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 300rem;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.ityped-cursor {
  opacity: 1;
  color: var(--theme-color2);
}

@media (max-width: 700px) {
  .presentation {
    font-size: 25rem;
  }
}
