<section class="about-me-container">
  <div class="about-me-image">
    <img
      src="../assets/img/vetores/pale-woman-works-with-computer.png"
      alt="Vector de uma mulher trabalhando"
    />
  </div>
  <article class="about-me-article" id="sobre">
    <h1>Sobre mim</h1>
    <span
      >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus fuga error
      autem eos qui expedita? Incidunt vel ab, atque minus excepturi esse dolorem saepe.
      Placeat iure nemo dolorum odit animi. Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Repellendus fuga error autem eos qui expedita? Incidunt vel ab,
      atque minus excepturi esse dolorem saepe. Placeat iure nemo dolorum odit
      animi.</span
    >
  </article>
</section>
