<section class="about-me-container">
  <div class="about-me-image">
    <img
      src="../assets/img/vetores/pale-woman-works-with-computer.png"
      alt="Vector de uma mulher trabalhando"
    />
  </div>
  <article class="about-me-article" id="sobre">
    <h1>Sobre mim</h1>
    <p class="paragraph">
      Apaixonada por tecnologia, gosto de trabalhar em equipe, sou organizada, sempre
      busco solucionar problemas e entregar resultados.
    </p>

    <p class="paragraph">
      Quero me tornar uma Desenvolvedora de Software que traga inovação, impacto e faça a
      diferença na vida de outras pessoas e para o mercado de tecnologia.
    </p>

    <p class="paragraph">
      Minhas stacks são: HTML | CSS && Styled Components | Javascript | Unit Tesing - Jest
      e React Testing Library | React JS - Redux and Hooks | MySQL | MongoDB.
    </p>
  </article>
</section>
