<main class="main-cards" id="project">
  <!-- CARD-1 -->
  <div class="card">
    <img
      class="img-project"
      src="../assets/img/projetos/CuteFlix.jpg"
      alt="Projeto CuteFlix"
    />
    <section class="main-description">
      <h4>Projeto CuteFlix</h4>
      <span>Projeto inspirado na Netflix</span></br>
      <span>Design Responsivo - Single Page</span>
    </section>
    <footer class="btn-main">
      <button class="btn">
        <a href="https://aliceaatalla.github.io/CuteFlix/">Site</a>
      </button>
      <button class="btn-github">
        <a href="https://github.com/AliceAAtalla/CuteFlix"
          ><img src="../assets/icons/icons8-github.svg" alt="GitHubIcon"
        /></a>
      </button>
    </footer>
  </div>
  <!-- CARD-2 -->
  <div class="card">
    <img
      class="img-project"
      src="../assets/img/projetos/ShoppingCart.png"
      alt="Projeto ShoppingCart"
    />
    <section class="main-description">
      <h4>Projeto ShoppingCart</h4>
      <span>Projeto usando Api Mercado Livre</span></br>
      <span>Projeto em Grupo - Multi-Pages</span>
    </section>
    <footer class="btn-main">
      <button class="btn">
        <a href="https://aliceaatalla.github.io/Project-ShoppingCart-ReactJs/#/">Site</a>
      </button>
      <button class="btn-github">
        <a href="https://github.com/AliceAAtalla/Project-ShoppingCart-ReactJs"
          ><img src="../assets/icons/icons8-github.svg" alt="GitHubIcon"
        /></a>
      </button>
    </footer>
  </div>
  <!-- CARD-3 -->
  <div class="card">
    <img
      class="img-project"
      src="../assets/img/projetos/RecipeApp.png"
      alt="Projeto RecipeApp"
    />
    <section class="main-description">
      <h4>Projeto RecipeApp</h4>
      <span>Projeto usando uma Api de Receitas</span></br>
      <span>Projeto em Grupo - Design Mobile - Multi-Page</span>
    </section>
    <footer class="btn-main">
      <button class="btn">
        <a href="https://aliceaatalla.github.io/RecipeApp_ReactJS/#/">Site</a>
      </button>
      <button class="btn-github">
        <a href="https://github.com/AliceAAtalla/RecipeApp_ReactJS"
          ><img src="../assets/icons/icons8-github.svg" alt="GitHubIcon"
        /></a>
      </button>
    </footer>
  </div>
  <!-- CARD-4 -->
  <div class="card">
    <img
      class="img-project"
      src="../assets/img/projetos/Facebook.png"
      alt="Projeto Facebook"
    />
    <section class="main-description">
      <h4>Projeto Login Facebook</h4>
      <span>Replica do Layout do Facebook Login</span></br>
      <span>Single Page</span>
    </section>
    <footer class="btn-main">
      <button class="btn">
        <a href="https://aliceaatalla.github.io/project-facebook-signup/">Site</a>
      </button>
      <button class="btn-github">
        <a href="https://github.com/AliceAAtalla/project-facebook-signup"
          ><img src="../assets/icons/icons8-github.svg" alt="GitHubIcon"
        /></a>
      </button>
    </footer>
  </div>
  <!-- CARD-5 -->
  <div class="card">
    <img
      class="img-project"
      src="../assets/img/projetos/Calculadora.png"
      alt="Projeto Calculadora"
    />
    <section class="main-description">
      <h4>Projeto Calculadora</h4>
      <span>Projeto Calculadora</span></br>
      <span>Design Responsivo - Single Page</span>
    </section>
    <footer class="btn-main">
      <button class="btn">
        <a href="https://aliceaatalla.github.io/FirstCalculator/">Site</a>
      </button>
      <button class="btn-github">
        <a href="https://github.com/AliceAAtalla/FirstCalculator"
          ><img src="../assets/icons/icons8-github.svg" alt="GitHubIcon"
        /></a>
      </button>
    </footer>
  </div>
</main>
