<footer class="footer-bottom">
  <nav class="container-general nav-footer">
    <div class="logo2">
      <img src="../assets/img/logo/logo2.png" alt="Alice Arruda Atalla" />
    </div>
    <div class="icones">
      <a href="https://www.linkedin.com/in/aliceatalla/" target="_blank"
        ><img
          src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"
          alt="LinkedinIcone"
      /></a>
      <a href="https://github.com/AliceAAtalla" target="_blank"
        ><img src="https://img.icons8.com/fluent/48/000000/github.png" alt="GitHubIcon"
      /></a>
      <a href="https://www.behance.net/aliceatalla" target="_blank"
        ><img src="https://img.icons8.com/doodle/48/000000/behance--v1.png" alt="Behance"
      /></a>
      <a href="mailto:aliceatalla36@gmail.com" target="_blank"
        ><img
          src="https://img.icons8.com/doodle/48/000000/apple-mail.png"
          alt="EmailIcon"
      /></a>
    </div>
    <p class="createdby">
      Criado por Alice Arruda Atalla em 2020
      <img src="https://img.icons8.com/office/16/000000/like.png" />
    </p>
  </nav>
</footer>
