<section class="contact-conteiners background">
  <h2 class="title">Vizualize meu Currículo!</h2>
  <a
    href="https://drive.google.com/file/d/1JK1IRC1Znwd05KaoZoiKrtf42Bb_arIV/view?usp=sharing"
    target="_blank"
  >
    <button class="btn">Clique aqui!</button>
  </a>
</section>
<section class="contact-content">
  <div class="foto">
    <img src="../assets/img/fotos/FotoAlice.png" alt="Alice Arruda Atalla" />
  </div>
  <form class="contact-conteiners" method="POST" action="/">
    <h2 class="title">Entre em contato comigo!</h2>
    <input class="ctn" name="name" placeholder="Seu nome" />
    <input class="ctn" name="email" placeholder="seuemail@example.com" />
    <textarea
      class="ctn text-contact"
      name="text"
      placeholder="Digite a sua mensagem aqui!"
    ></textarea>
    <input type="submit" value="Enviar" class="btn" />
  </form>
</section>
