<header class="header-top">
  <nav class="container-general nav-bar">
    <div class="logo">
      <img src="../assets/img/logo/logo.png" alt="Alice Arruda Atalla" />
    </div>
    <ul class="menu" id="menu">
      <li><a href="#">Início</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#stacks">Tecnologias</a></li>
      <li><a href="#project">Projetos</a></li>
      <li><a href="#contact">Contato</a></li>
    </ul>
    <div class="nav-response" id="hamburguer">
      <img style="width: 45px" src="../assets/icons/icons8-menu.svg" alt="Menu" />
    </div>
  </nav>
</header>
