<header class="header-top">
  <nav class="container-general nav-bar">
    <div class="logo">
      <img src="../assets/img/logo/logo.png" alt="Alice Arruda Atalla" />
    </div>
    <ul class="menu" id="menu">
      <li><a href="#">Início</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#stacks">Tecnologias</a></li>
      <li><a href="#projetos">Projetos</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>
    <div class="nav-response" id="hamburguer">
      <i style="font-size: 35px" class="fas fa-bars"></i>
    </div>
  </nav>
</header>
