<section class="stacks-container background">
  <div class="stacks-icons">
    <img src="../assets/icons/icons8-git.svg" />
    <img src="../assets/icons/icons8-html-5.svg" />
    <img src="../assets/icons/icons8-css3.svg" />
    <img src="../assets/icons/icons8-javascript.svg" />
    <img src="../assets/icons/styled-components.png" />
    <img src="../assets/icons/icons8-react-native.svg" />
    <img src="../assets/icons/icons8-redux.svg" />
    <img src="../assets/icons/icons8-nodejs.svg" />
    <img src="../assets/icons/icons8-mongodb.svg" />
    <img src="../assets/icons/icons8-mysql-logo.svg" />
  </div>
</section>
